.buttonList {
  align-items: center;
  display: flex;
  gap: 57px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.buttonItem {
  margin: 10px;
}

.button {
  background: #0004ff;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
}
.button:hover {
  background-color: #fff;
  color: #0004ff;
}
